[Unit]
Description=Runs pulseaudio as root, needed for av voice.py
  
[Service]
ExecStart=sudo pulseaudio --system=true

[Install]
WantedBy=multi-user.target
