[Unit]
Description=Runs pulseaudio as root, needed for av voice.py
Before=av-voice.service
  
[Service]
ExecStart=sudo pulseaudio --system=true
Type=oneshot

[Install]
WantedBy=multi-user.target
