[Unit]
Description=Runs /home/pi/av_dev/voice.py
After=av-sudo-pulseaudio.service
  
[Service]
ExecStart=sh -c 'sleep 3; /home/pi/av_dev/voice.py'

[Install]
WantedBy=multi-user.target
