[Unit]
Description=Runs /home/pi/av_dev/voice.py
After=av-sudo-pulseaudio.service
  
[Service]
ExecStart=sleep 1 && /home/pi/av_dev/voice.py

[Install]
WantedBy=multi-user.target
